# SPDX-License-Identifier: GPL-2.0-only

config DRM_PANEL_FUTABA_SSD1362
	tristate "Futaba ssd1362 PMOLED"
	depends on SPI
	help
	  Say Y here if you want to enable support for Futaba ssd1362 PMOLED panel
